<!doctype html>
<html lang="*">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/jobs.html">Jobs</a></li>
        <li class="breadcrumb-item active" aria-current="page">{{job.name}}</li>
      </ol>
    </nav>

    <h1>Job {{job.name}}</h1>
    <div>
        <a class="btn btn-primary btn-sm" href="/{{job.name}}/start.html" role="button">New run ...</a>
    </div>

<placeholder id="job.runs">
</placeholder>



</div>

<script src="/assets/bootstrap/bootstrap.bundle.min.js"></script>
<script>
    const fetchText = async (config) => {
        const response = await fetch(config.url);
        if (!response.ok) {
            throw new Error(`Response status: ${response.status}`);
        }
        const result = await response.text();
        return result;
    }

        let jobRunsHash = "";
        const updateRuns = (async () => {
            setTimeout(async () => updateRuns(), 1000);
            const newJobRunsHash = await fetchText({url: `/job/{{job.name}}.html/job.runs.hash`});
            if (newJobRunsHash !== jobRunsHash) {
                jobRunsHash = newJobRunsHash;
                const jobRunsHtml = await fetchText({url: `/job/{{job.name}}.html/job.runs.html`});
                document.getElementById("job.runs").innerHTML = jobRunsHtml;
            }
        });
        updateRuns();
</script>
</body>
</html>
