<!doctype html>
<html lang="*">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Run LogStream</title>
    <link href="/assets/bootstrap/bootstrap.min.css" rel="stylesheet">
    <style>
        .log-line {
              font-family: "Lucida Console", "Courier New", monospace;
              font-size: small;
              white-space: nowrap;
        }
    </style>
</head>
<body>
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/jobs.html">Jobs</a></li>
            <li class="breadcrumb-item"><a href="/job/{{job.name}}.html">{{job.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{run.id}}</li>
        </ol>
    </nav>

    <h1>Run {{run.id}}</span></h1>
    <div><span id="run.state">UNKNOWN</span> <span id="run.message"></span></div>
    <h2>Log</h2>
    <div id="error">
    </div>
    <div id="log">
    </div>
</div>

<script src="/js/log-updater.js"></script>
<script>
    const jobName = "{{job.name}}";
    const runId = "{{run.id}}";

    startLogUpdater({jobName, runId, errorElementId: "error", logElementId: "log"});

    const updateRun = (async () => {
        setTimeout(async () => updateRun(), 1000);
        const run = await fetchRun({jobName, runId})
        document.getElementById("run.state").innerHTML = run.state;
        document.getElementById("run.message").innerHTML = run.message;
    });
    updateRun();

</script>

<script src="/assets/bootstrap/bootstrap.bundle.min.js"></script>
</body>
</html>
